.draggable-window-container {
	position: fixed;
	border: solid 1px gray;
	background-color: white;
	display: flex;
	flex-direction: column;
	max-height: 70%;
	overflow-y: auto;
	overflow-x: hidden;
}

.draggable-window-header {
	height: 24px;
	width: 100%;
	cursor: move;
	display: flex;
	align-items: center;
	padding-left: 4px;
	user-select: none;
}
